p{
    color: green;
}
h3{
    color: hotpink;
    background: green;
}
h1{
    text-align: center;
    
}
#titulof{ 
    color: red;
}
/* lo que hace es que al apsar el mouse cambia de color */
#titulof:hover{ 
    color:green;
}
